{% extends 'base.html' %}
{% block content %}
   

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Favorite products</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 justify-content-center">
            <div class="col-lg-5 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    {% for f in favorite %}
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>{{ f.product }}</th>
                            <th>{{ f.price }}</th>
                            <th>{{ f.remove }}</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td class="align-middle"><img src="{{ p.img }}" alt="" style="width: 50px;"> {{ p.title }}</td>
                            <td class="align-middle">${{ p.price }}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>                      
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->

{% endblock %}