{% extends 'base.html' %}
{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Register</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Input Credentials For Register</span></h2>
        </div>
        <div class="row justify-content-center px-xl-5">
            <div class="col-lg-4 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post" active="" class="form">
                        {{ reg.hidden_tag()}}
                        <div class="control-group">
                            {% if reg.name.error %}
                                {{ reg.name(class='form_invalid') }}
                                <span class="form_invalid_feedback">
                                    {% for er in reg.name.error %}
                                    {{ er }}
                                    {% endfor %}
                                </span>
                            {% else %}
                            {{ reg.name() }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            {% if reg.surname.error %}
                                {{ reg.name(class='form_invalid') }}
                                <span class="form_invalid_feedback">
                                    {% for er in reg.surname.error %}
                                    {{ er }}
                                    {% endfor %}
                                </span>
                            {% else %}
                            {{ reg.surname() }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            {% if reg.e_mail.error %}
                            {{ reg.name(class='form_invalid') }}
                            <span class="form_invalid_feedback">
                                {% for er in reg.e_mail.error %}
                                {{ er }}
                                {% endfor %}
                            </span>
                        {% else %}
                            {{ registr.e_mail() }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            {% if reg.password.error %}
                            {{ reg.name(class='form_invalid') }}
                            <span class="form_invalid_feedback">
                                {% for er in reg.password.error %}
                                {{ er }}
                                {% endfor %}
                            </span>
                            {% else %}
                            {{ registr.password() }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            {% if reg.passconf.error %}
                            {{ reg.name(class='form_invalid') }}
                            <span class="form_invalid_feedback">
                                {% for er in reg.passconf.error %}
                                {{ er }}
                                {% endfor %}
                            </span>
                            {% else %}
                            {{ reg.passconf() }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="d-flex justify-content-center">
                            {{ reg.submit() }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}